Examples/OSX/Kontakt Scanner/Kontakt Scanner.xcodeproj/xcuserdata
Examples/OSX/Kontakt Scanner/Kontakt Scanner.xcodeproj/project.xcworkspace/xcuserdata
Examples/OSX/Kontakt Scanner/Kontakt Scanner.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint
